.idea
cache
__pycache__
*.pyc
*.osm
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
test.pytest_cache/
.env
.venv
env/
venv/
.coverage
executing_task.lock
executing_task_move.lock
executing_task_mammoth.lock
data.json
.vscode
tests.xml
coverage.xml
_build/*
_static/*
_templates/*
*.lock

#JX3
.jx/
VERSION
pip.conf